<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ restaurant_name }}{% endblock %}</title>
    <style>
        footer {
           background-color: #333;
           color: white;
           text-align: center;
           padding: 10px;
           position: fixed;
           left: 0;
           bottom: 0;
           width: 100%;
           font-size: 14px;
           line-height: 1.4;
        }
    </style>
</head>
<body>
    {% block content %}{% endblock %}

    <footer>
        <p>&copy; {{ restaurant_name }} {{ now|date:"Y" }}. All rights reserved.</p>
        <p class="footer-hours">Mon-Fri: 11am-9pm, Sat-Sun: 10am-10pm</p>
    </footer>
</body>
</html>