{% extends "base.html" %}

{% block title%}Gallery - Our Restaurant{% endblock %}

{% block content %}
   <h1 style="text-align: center; margin: 200px 0;">Restaurant Gallery</h1>

   <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 15px; padding: 20px;">
    <div>
        <img src="" alt="Restaurant Image 1" style="width:100; border-radius: 8px;">
    </div>
    <div>
        <img src="" alt="Restaurant Image 2" style="width:100; border-radius: 8px;">
    </div>
    <div>
        <img src="" alt="Restaurant Image 3" style="width:100; border-radius: 8px;">
    </div>
    <div>
        <img src="" alt="Restaurant Image 4" style="width 100; border-radius: 8px;">
    </div>
   </div>
{% endblock %}