<!-- home.html -->
<!Doctype html>
<html>
<head>
    <title>{{ restaurant.name }}</title>
</head>
<body>
    <h1>Welcome to {{ restaurant.name }}</h1>
    <p><strong>Address:</strong> {{ restaurant.ddress}}</p>
    <p>Phone: {{ restaurant.phone_number }}</p>

    <h2>Opening Hours</h2>
    <ul>
        {% for day, hours in restaurant.opening_hours.items %}
           <li><strong>{{ day }};</strong>
        {% endfor %}
    </ul>
    <h3>Our Location</h3>
    <p>{{ restaurant.address }}</p>

    <nav>
        <a href="{% url 'faq' %}">FAQ</a>
    </nav>
</body>
</html>